.mat-card {
    
  box-shadow: 0 6px 1px -1px pink, 0 1px 1px 0 pink, 0 1px 3px 0 pink;

  box-shadow: 0 6px 1px -1px pink, 0 1px 1px 0 pink, 0 1px 3px 0 blue
}

.size-radio-button {
  margin: 16px;
}

.row{
  color: gray
}