<h1 class="font-bold text-3xl">Registro de Empleado</h1>
<mat-progress-bar mode="indeterminate" *ngIf="cargando"></mat-progress-bar>
<form
  [formGroup]="form"
  (ngSubmit)="registro()"
  class="flex flex-wrap px-4 py-3 shadow-2xl"
  [ngClass]="{
    'shadow-gray-500/90': sex === '', 
    'shadow-blue-900/100': sex == 'true', 
    'shadow-pink-500/90': sex == 'false'
  }"
>
<!-- [ngClass]="[sex === '' ? ' shadow-gray-500/90' : sex === 'true' ? 'shadow-2xl shadow-blue-900/100' : 'shadow-2xl shadow-pink-500/90']" -->
  <p class="w-full mt-2">Datos Generales</p>

  <mat-form-field appearance="fill" class="w-1/3 pr-1 mb-3">
    <mat-label>Nombre</mat-label>
    <input type="text" matInput formControlName="nombre" />
    <mat-error *ngIf="form.controls['nombre'].hasError('required')"
      >El campo es Obligatorio</mat-error
    >
    <mat-error *ngIf="form.controls['nombre'].hasError('minlength')"
      >El campo es Inválido</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-1/3 px-1 mb-3">
    <mat-label>Apellido Paterno</mat-label>
    <input type="text" matInput formControlName="paterno" />
    <mat-error *ngIf="form.controls['paterno'].hasError('required')"
      >El campo es Obligatorio</mat-error
    >
    <mat-error *ngIf="form.controls['paterno'].hasError('minlength')"
      >El campo es Inválido</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-1/3 pl-1 mb-3">
    <mat-label>Apellido Materno</mat-label>
    <input type="text" matInput formControlName="materno" />
    <mat-error *ngIf="form.controls['materno'].hasError('minlength')"
      >El campo es Inválido</mat-error
    >
  </mat-form-field>
  
  <!-- <mat-radio-group appearance="fill" class="w-1/3 px-1 mb-9" formControlName="sexo"  [(ngModel)]="sex" [ngStyle]="{ 'background-color': sex === '' ? ' #f5f5f5' : 'pink' }"> -->
  <mat-radio-group appearance="fill" class="w-1/3 px-1 mb-9" formControlName="sexo"  [(ngModel)]="sex" [ngStyle]="{ 'background-color': sex === '' ? '#f5f5f5' : ( sex === 'true' ? '#87CEEB' : 'pink') }">
    <div class="row">Sexo
      <mat-radio-button class="size-radio-button" value="true">Masculino</mat-radio-button>
      <mat-radio-button class="size-radio-button" value="false">Femenino</mat-radio-button>
    </div>
  </mat-radio-group>

  <mat-form-field appearance="fill" class="w-1/3 px-1 mb-3">
    <mat-label>Correo</mat-label>
    <input type="email" matInput formControlName="correo" />
    <mat-error *ngIf="form.controls['correo'].hasError('required')"
      >El campo es Obligatorio</mat-error
    >
    <mat-error *ngIf="form.controls['correo'].hasError('pattern')"
      >El campo es Inválido</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-1/3 pl-1 mb-3">
    <mat-label>Teléfono</mat-label>
    <input type="tel" matInput formControlName="telefono" />
    <mat-error *ngIf="form.controls['telefono'].hasError('required')"
      >El campo es Obligatorio</mat-error
    >
    <mat-error *ngIf="form.controls['telefono'].hasError('pattern')"
      >El campo es Inválido</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-1/3 pr-1 mb-3">
    <mat-label>Fecha de Nacimiento</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="fechaNacimiento"
      [ngModel]="edadM"
      #FechaNacimiento
    />
    <mat-hint>YYYY/MM/DD</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker" #FechaNacimiento></mat-datepicker-toggle>
    <mat-datepicker #picker #FechaNacimiento></mat-datepicker>
  </mat-form-field>
  
  <mat-form-field appearance="fill" class="w-2/3 pl-1 mb-3">
    <mat-label>Áreas</mat-label>
    <mat-select formControlName="areas" multiple="true">
      <mat-option *ngFor="let area of listaAreas" [value]="area.uuid">{{
        area.nombre
      }}</mat-option>
      <!-- Se hace un *ngFor para recorrer la lista de áreas en la que esta situado el trabajador -->
    </mat-select>
    <mat-error *ngIf="form.controls['fechaNacimiento'].hasError('required')"
      >El campo es obligatorio</mat-error
    >
  </mat-form-field>

  <mat-divider class="w-full"></mat-divider>
  <p class="w-full mt-2">Dirección</p>
  <mat-form-field appearance="fill" class="w-1/3 pr-1 mb-3">
    <mat-label>Calle</mat-label>
    <input type="text" matInput formControlName="calle" />
    <mat-error *ngIf="form.controls['calle'].hasError('required')"
      >El campo es Obligatorio</mat-error
    >
    <mat-error *ngIf="form.controls['calle'].hasError('minlength')"
      >El campo es Inválido</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-1/3 px-1 mb-3">
    <mat-label># Exterior</mat-label>
    <input type="number" matInput formControlName="exterior" />
    <mat-error *ngIf="form.controls['exterior'].hasError('required')"
    >El campo es obligatorio</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-1/3 pl-1 mb-3">
    <mat-label># Interior</mat-label>
    <input type="text" matInput formControlName="interior" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-1/3 pr-1 mb-3">
    <mat-label>Código Postal</mat-label>
    <input type="text" matInput formControlName="cp" />
    <mat-error *ngIf="form.controls['cp'].hasError('required')"
      >El campo es Obligatorio</mat-error
    >
    <mat-error *ngIf="form.controls['cp'].hasError('pattern')"
      >El campo es Inválido</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-2/3 pl-1 mb-3">
    <mat-label>Colonia</mat-label>
    <input type="text" matInput formControlName="colonia" />
    <mat-error *ngIf="form.controls['colonia'].hasError('required')"
      >El campo es Obligatorio</mat-error
    >
    <mat-error *ngIf="form.controls['colonia'].hasError('minlength')"
      >El campo es Inválido</mat-error
    >
  </mat-form-field>
  
  <!-- CHECKBOX TERMINOS Y CONDICIONES  -->
  <section class="mx-auto px-8 py-1 uppercase">
    <mat-checkbox (change)="onChangeEvent($event)">Acepto Terminos y Condiciones</mat-checkbox>
  </section>


  <ng-container class="mx-auto px-8 py-1 uppercase" *ngIf="FechaNacimiento.value === ''; else elseBlock "></ng-container> 
  <ng-template #elseBlock>
    <ng-container *ngIf="FechaNacimiento.value < '2005/01/01'; else elseB"><label class="mx-auto px-8 py-1 uppercase bg-lime-600">Cumples con la mayoría de edad</label></ng-container>
  </ng-template>
  <ng-template #elseB><label class="mx-auto px-8 py-1 uppercase bg-yellow-400">No cumples con la mayoría de edad</label></ng-template>

  <div class="w-full flex mt-4 mb-4">
    <button
    mat-raised-button1
    color="primary"
    class="mx-auto px-8 py-1 uppercase"
    type="submit"
    [disabled]="form.invalid"
    (click)="onChangeEvent($event)"
    >
    <mat-icon>save</mat-icon>
    Guardar
  </button>
</div>



  <div class="w-full h-full mt-4 mb-4">
    <container-element [ngSwitch]="sex">
        <img *ngSwitchCase="'true'" src="https://cdn.icon-icons.com/icons2/390/PNG/512/male_39497.png">
        <img *ngSwitchCase="'false'" src="https://cdn.icon-icons.com/icons2/343/PNG/512/Female_35792.png">
    </container-element>
    </div>

  
</form>
